body {
  /* min-height: 100%; */
  /* display: flex; */
  margin: 0;
  background-image: url("../public/images/backgroundImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.chosen-player-card {
  /* display: flex; */
  border: 2px solid red;
  margin: auto;
}



