body {
background-color: rgba(0, 106, 138, 0.938);
}



.chosen-player-card {
  /* display: flex; */
  border: 2px solid red;
  margin: auto;
}



.server-log {
  border: 2px solid black;
  overflow-y: scroll;
  height: 200px;
  width: 500px;
  scroll-behavior: smooth;
}

