body {
  /* min-height: 100%; */
  /* display: flex; */
  margin: 0;
  background-image: url("../public/images/backgroundImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.nav-links {
  margin-left: 10px;
  margin-bottom: 5px;
  color: white;
  background-color: rgba(0,0,0,0.9);
  border-radius: 5px;
  color: #631414;
  border: 0px solid #631414;
  text-decoration: none;
  padding: 0px 3px 0px 3px;

}



.nav-links:focus,
.nav-links:hover,
.nav-links:active {
  margin-left: 10px;
  margin-bottom: 5px;
  color: white;
  border-radius: 5px;
  color: #631414;
  border: 0px solid #631414;
  text-decoration: none;
  background-color: #631414;
  cursor: pointer;
  color: black;
  padding: 0px 3px 0px 3px;


}